.chat-panel .panel-body {
    padding: 0px;
    height: 500px;
    overflow-y: scroll;
}

#messages {
    list-style-type: none; margin: 0; padding: 0;
}

#messages li {
    padding: 5px 10px;

}

#messages li:nth-child(odd) {
    background: #eee;
}

#chatForm #chatInput {
    width: 90%;
}

#chatForm .btn {
    width: 9%;
    float: right;
}